In [7]:
import numpy as np
import pandas as pd
from IPython.display import display
data = { 'Name' : ["Camilo","Alejandro","Julian","Monica"],
        'Location' : ["Lyon","Thoiry","Bogota","Bogota"],
        'Age' : [35,29,38,26]
    
}

In [8]:
data_pandas = pd.DataFrame(data)
display(data_pandas)

   Age Location       Name
0   35     Lyon     Camilo
1   29   Thoiry  Alejandro
2   38   Bogota     Julian
3   26   Bogota     Monica

In [11]:
display(data_pandas[data_pandas.Age < 30])

   Age Location       Name
1   29   Thoiry  Alejandro
3   26   Bogota     Monica